@import "variables";

root {

}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  color: $text-primary;

  header,
  footer {
    flex-grow: 0;
  }

  main {
    flex: 1 1 auto;
    background: $background-color;
  }

  header {
    position: sticky;
    top: 0;
  }

}

.contrast-link {
  transition: color 0.4s;

  &:hover {
    color: $text-contrast;
  }
}

.bg-primary {
  background-color: $color-primary !important;
}

.bg-secondary {
  background-color: $color-secondary !important;
}

.border-secondary {
  border: solid 1px $color-secondary !important;
}

.border-secondary-light {
  border: solid 1px $color-secondary-light !important;
}

.border-color-default {
  border-color: $border-default;
}

.border-default {
  border: 1px solid $border-default;
}

a.link:hover {
  color: var(--link-hover-color);
}

.btn {
  color: #adbac7;
  background-color: #373e47;
  border-color: rgb(205 217 229 / 10%);
  transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  &:hover {
    text-decoration: none;
    background-color: #444c56;
    border-color: #768390;
    transition-duration: .1s;
  }
}
