
:root {
  --background-color: #1c2128;
  --color-primary: #22272e;
  --color-primary-dark: #000004;
  --color-primary-light: #4a4f57;
  --color-secondary: #2d333b;
  --color-secondary-dark: #030c15;
  --color-secondary-light: #565c65;
  --text-primary: #adbac7;
  --text-secondary: #768390;
  --text-primary-light: #cdd9e5;
  --text-contrast: #c0ca33;
  --link-hover-color: #539bf5;
  --border-default: #444c56;
}

