
$background-color: var(--background-color);

$color-primary: var(--color-primary);
$color-primary-dark: var(--color-primary-dark);
$color-primary-light: var(--color-primary-light);

$color-secondary: var(--color-secondary);
$color-secondary-dark: var(--color-secondary-dark);
$color-secondary-light: var(--color-secondary-light);

$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-primary-light: var(--text-primary-light);

$text-contrast: var(--text-contrast);

$border-default: var(--border-default);
